<a href="https://colab.research.google.com/github/20A31A0525/kusuma-eztraining-python/blob/main/CRT_DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Bit wise operators**

intranet=particulat

internet=wide

os and 1s some operations if u do like dz it will be faster

Like-x=compressing data

sending data in network to network 0-1 or ON OFF or true false


*   &
*   |
*   ^
*   ~
*   !
*   <<
*   '>>'

In [ ]:
print(10&4)
print(bin(10))
print(bin(4))
print(12&7)
print(bin(12))
print(bin(7))
print(10|4)
print(12|4)
print(~10)
print(~-10)
print(10^4)
print(5^6)
print(bin(5))
print(bin(6))
print(9^8)
print(10<<2)
print(bin(10))
print(bin(2))
print(10>>2)

0
0b1010
0b100
4
0b1100
0b111
14
12
-11
9
14
3
0b101
0b110
1
40
0b1010
0b10
2

get two no's as input both less than or equals to 15,perform bitwise and ,or

In [ ]:
n1,n2=map(int,input().split())
print(bin(n1))
print(bin(n2))
print(n1&n2)
print(n1|n2)

10 12
0b1010
0b1100
8
14

Multiple input in a single line

In [ ]:
n=int(input("enter"))
a=list(map(int,input().strip().split()))[:n]
print(a)

enter5
1 2 3 4 5 6
[1, 2, 3, 4, 5]

In [ ]:
n=int(input("enter"))
a=list(map(int,input().strip().split()))[:n]
print(a)

enter5
      1 2 3 4 5
[1, 2, 3, 4, 5]

Find product of 10 integer numbers

In [ ]:
a=list(map(int,input().split()))[:10]
pro=1
for i in a:
  pro=pro*i
print("product is:",pro)

1 2 3 4 5 6 7 8 9 10
product is: 3628800

In [ ]:
print("Its","a","good","day")
print("All","is","good")

Its a good day
All is good

In [ ]:
print("Its","a","good","day",sep="*",end=" ")
print("All","is","good",sep='$')

Its*a*good*day All$is$good

In [ ]:
print("Its","a","good","day",end=" ")
print("All","is","good",sep='***',end=" ")
print("joy")

Its a good day All***is***good joy

Print

   1.Triangle
   2.heart
   3.frog

In [ ]:
print('*','*','*','*','*',sep=" ")
print('','*','*','*','*',sep=" ")
print('','','*','*','*',sep=" ")
print('','','','*','*',sep=" ")
print('','','','','*',sep=" ")

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
print('*','*','*','*','*','*',sep=" ")
print('*','','','','*','','','','*',sep=" ")
print('','*','','','','','','','*',sep=" ")
print('','','*','','','','','*',sep=" ")
print('','','','*','','','*',sep=" ")
print('','','','','*','*',sep=" ")
print('','','','','','*',sep=" ")

* * * * * *
*    *    *
 *       *
  *     *
   *   *
    * *
     *

**Conditional statements** **or control statements**


1.   If
2.   if else
2.   else if 
2.   else if ladder
2.   nested if

Question:

Temperature above 45=hotest

Temperature 40-45=hot

Temperature 25-40=Moderate

Temperature 10-25=Cold

Temperature below ten=Chill

In [ ]:
temp=int(input("Enter temperature of your area:"))
if temp>=45:
  print("Your area is Hotest")
elif temp>=40 and temp<45:
  print("Your area is Hot")
elif temp>=25 and temp<40:
  print("Your area is Moderate")
elif temp>=10 and temp<25:
  print("Your area is Cold")
else:
  print("Your area is Chill")

Enter temperature of your area:25
Your area is Moderate

Question1:

Given a number findout wether it is 500 or not

In [ ]:
n=int(input("Enter a number"))
if n==500:
  print("Yes it is 500")
else:
  print("Not it is not 500")

Enter a number10
Not it is not 500

Question 2:

check given number is even-positive or even-negitive or odd-positive or odd-negitive

In [ ]:
n=int(input("Enter a number"))
if n>=0:
  if n%2==0:
    print('Number is even-positive')
  else:
    print('Number is odd-positive')
else:
  if n%2==0:
    print('Number is even-negitive')
  else:
    print('Number is odd-negitive')

Enter a number12
Number is even-positive

Question 3:

Get two numbers as input and findout which is bigger

In [ ]:
n1,n2=map(int,input("enter two numbers").split())
if n1>n2:
  print('Greater number is:',n1)
else:
  print('Greater number is :',n2)

enter two numbers3 7
Greater number is : 7

Question 4:

check given number is float or int

In [ ]:
n1=input("enter integer or float")
if '.' in n1:
  print("It is float")
else:
  print("It is integer")

enter integer or float5.6
It is float

In [ ]:
n=10.3
re=n-int(n)
if re>0:
  print("int")
else:
  print("float")

int

Question 5:

get 3 numbers print greatest among three

In [ ]:
n1,n2,n3=map(int,input("Enter three numbers").split())
n1=max(n1,n2)
n1=max(n1,n3)
print("Maximum among three numbers is",n1)

Enter three numbers10 12 11
Maximum among three numbers is 12

Question 6:

check given number is divisible by 11 or not

In [ ]:
n1=int(input("Enter a number"))
if n1%11==0:
  print("Given Number is divisible by 11")
else:
  print("Given Number Not divisible by 11")

Enter a number121
Given Number is divisible by 11

Question 7:

check given number is divisible by 2 and 5

In [ ]:
n=int(input("Enter a number"))
if n%2==0 and n%5==0:
  print("Yes the number is divisible by both 2 & 5")
else:
  print("No the number is not divisible by both 2&5")

Enter a number10
Yes the number is divisible by both 2 & 5

In [ ]:
i=1
while(i<=10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=2
while(i<=20):
  print(i)
  i=i+2

2
4
6
8
10
12
14
16
18
20

In [ ]:
i=1
while(i<=30):
  print(i)
  i=i+2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
for i in range(1,31,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [ ]:
import random
n1,n2=map(int,input("Enter the range").split())
r=random.randrange(n1,n2)
guess=int(input())
while(r!=guess):
  if guess>r:
    print("Your number is high please guess number again")
    guess=int(input())
  elif guess<r:
    print("Your number is low please guess number again")
    guess=int(input())
  else:
    break
print("Yahooo! Your guess is correct......✅")

Enter the range1 10
4
Your number is high please guess number again
3
Your number is high please guess number again
2
Your number is high please guess number again
1
Yahooo! Your guess is correct......✅