<a href="https://colab.research.google.com/github/20A31A0525/kusuma-eztraining-python/blob/main/CRT_DAY_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List**

1. Mutable
2. Indexing
3. slicing
4. square brackets

In [ ]:
l=[1,2,7.4,"Sam"]
print(l[0])
print(l[-1])
print(l[0:3])

1
Sam
[1, 2, 7.4]

**opetations on list**

1. append
2. extend
3. insert
4. remove
5. pop
6. clear
7. index
8. count
9. sort
10. reverse
11. copy

In [ ]:
l=[1,2,1,2,3,4,5]
l.append(11)
print(l)
l.extend([12,13,43,56])
print(l)
l.insert(0,7)
print(l)
l.remove(1)
print(l)
l.pop(-1)
print(l)
l.clear()
print(l)
l=[1,2,1,2,3,4,5]
print(l.index(5))
print(l.count(1))
l.sort()
print(l)
l.reverse()
print(l)
k=l.copy()
print(k)
l

[1, 2, 1, 2, 3, 4, 5, 11]
[1, 2, 1, 2, 3, 4, 5, 11, 12, 13, 43, 56]
[7, 1, 2, 1, 2, 3, 4, 5, 11, 12, 13, 43, 56]
[7, 2, 1, 2, 3, 4, 5, 11, 12, 13, 43, 56]
[7, 2, 1, 2, 3, 4, 5, 11, 12, 13, 43]
[]
6
2
[1, 1, 2, 2, 3, 4, 5]
[5, 4, 3, 2, 2, 1, 1]
[5, 4, 3, 2, 2, 1, 1]
[5, 4, 3, 2, 2, 1, 1]

Create list with 10 items print the elements and print one by one

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
  print(i)

1
2
3
4
5
6
7
8
9
10

Creat a list with five float numbers find and display sum and average of list

In [ ]:
l=[1.1,2.2,3.3,4.4,5.5]
print("sum=",sum(l))
print("average=",sum(l)/len(l))

sum= 16.5
average= 3.3

After creating a list with 6 elements from the user extract only even numbers and print

In [ ]:
l=list(map(int,input().split()))[:6]
for i in range(len(l)):
  if l[i]%2==0:
    print(l[i])

1 2 3 4 5 6 7
2
4
6

print neon numbers

In [ ]:
n=int(input("enter a number:"))
sq=n*n
c=0
while(sq>0):
  c=c+sq%10
  sq=sq//10
if c==n:
  print("Yes it is neon number")
else:
  print("It is not a neon number")

enter a number:1
Yes it is neon number

In [ ]:


for i in range(1,500000):
  sq=i*i
  c=0 
  while(sq>0):
    c=c+sq%10
    sq=sq//10
  if c==i:
    print(i)

1
9

In [ ]:

import math
n=153

l=len(str(n))
x=n
c=0
while(n>0):
  p=n%10
  c=c+pow(p,l)
  n=n//10
if c==x:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
l=list(map(int,input("enter numbers").split()))
c=1
for i in range(len(l)):
  c=c*l[i]
if c < 750:
  print("product is:",c)
else:
  print("sum is:",sum(l))

enter numbers1 12 35 56
sum is: 104

List comprehesion

In [ ]:
l=[e for e in 'Good afternoon']
print(l)

['G', 'o', 'o', 'd', ' ', 'a', 'f', 't', 'e', 'r', 'n', 'o', 'o', 'n']

In [ ]:
l=[2**x for x in range(2,6)]
print(l)

[4, 8, 16, 32]

In [ ]:
l=[x for x in range(1,7) if x<5]
print(l)

[1, 2, 3, 4]

In [ ]:
l=[x for x in range(10,100,2)]
print(l)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

Set operations

1. add()
2. update()
3. discard()
4. remove()-if element not present it gives an error so at that better to go with discard
5. union() s1|s2
6. intersection s1&s2
7. difference s1-s2'=
8. issuperset
9. symmetric_difference or ^

In [ ]:
s={1,2,3,4,5,6}
print(s)
s.add(8)
print(s)
s.update([10,20])
print(s)
s.discard(2)
print(s)
s.remove(3)
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6, 8, 10, 20}
{1, 3, 4, 5, 6, 8, 10, 20}
{1, 4, 5, 6, 8, 10, 20}

In [ ]:
s={1,2,3,4}
s.remove(5)
print(s)

KeyError: ignored

In [ ]:
s1={1,2,3,4}
s2={1,2,3,4,5,6}
print("union:",s1|s2)
print("intersection:",s1&s2)
print("difference",s1-s2)
print("differnce",s2-s1)

union: {1, 2, 3, 4, 5, 6}
intersection: {1, 2, 3, 4}
difference set()
differnce {5, 6}

In [ ]:
s1={1,2,3}
s2={1,2,3,4}
print(s2.issuperset(s))

True

In [ ]:
s1={1,2,3}
s2={1,2,3,4}
print(s1^s2)

{4}

In [ ]:
s1={1,2,3}
s2={1,2,3,4}
print(s1.symmetric_difference(s2))

{4}

**Tuple:**
1. ordered
2. count
3. index

In [ ]:
t=(4,3,4,9.6)
print(type(t))
print(t.count(4))
print(t.index(4))

<class 'tuple'>
2
0

In [ ]:
t=(1,2,3)
print(t)
k=1,2,3
print(k)
t2=(t,k)
print(t2)

(1, 2, 3)
(1, 2, 3)
((1, 2, 3), (1, 2, 3))

**dictionary**

1. key value pairs
2. extract keys,values from dictionary

dictionay contains elements with two units key and values. keys must be unique.

In [ ]:
d={1:"one",2:"two"}
print(d)
print(d.keys())
print(d.values())
print(d.items())
print(d[1])
print(d.get(1))

{1: 'one', 2: 'two'}
dict_keys([1, 2])
dict_values(['one', 'two'])
dict_items([(1, 'one'), (2, 'two')])
one
one

In [ ]:
l=['hi','hello']
dict.fromkeys(l)
dict.fromkeys(l,50)
{}.fromkeys(l,100)
s=dict.fromkeys(l,100)
print(s)

{'hi': 100, 'hello': 100}

In [ ]:
d={1:'a',2:'b'}
print(d)
d.setdefault(3,'d')
print(d)
d.setdefault(4)
print(d)
print(d.pop(1))
print(d)
print(d.popitem())
print(d)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 3: 'd'}
{1: 'a', 2: 'b', 3: 'd', 4: None}
a
{2: 'b', 3: 'd', 4: None}
(4, None)
{2: 'b', 3: 'd'}