<a href="https://colab.research.google.com/github/20A31A0525/kusuma-eztraining-python/blob/main/CRT_DAY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day-1 Training**`
1. Why Python?
    *   Simple
    *   Inbuilt Library functions
    *   Robust
    *   interpreted
    *   Dynamic language
    *   Easy to learn

   Pyhon is famous in the market and it is called as language of future. It supports current technologies and upcoming technologies.

2. Medium:
      IDLE(Interpreted Development Language Environment), Jupyter Notebook, Anaconda, Thoni, VS COde (Visual Studio).

3. In python no need to do compilation because it is interpreted language

In [ ]:
050+09      #Here we should not able to add numbers staring with zero they may be treated as octal

**Writing program to translate into telugu**
*   python, java uses unicode
*   c uses ascii
the program in python is called as "script"

https://en.wiktionary.org/wiki/Appendix:Unicode/Telugu

In [ ]:
print(chr(3093)+chr(3137)+chr(3128)+chr(3137)+chr(3118)+' '+chr(3125)+chr(3134)+chr(3112)+chr(3114)+chr(3122)+chr(3149)+chr(3122)+chr(3135))

కుసుమ వానపల్లి

In [ ]:
print(chr(3088)+chr(3126)+chr(3149)+chr(3125)+chr(3120)+chr(3149)+chr(3119))

ఐశ్వర్య

In [ ]:
print(chr(3128)+chr(3137)+chr(3110)+chr(3120)+chr(3149)+chr(3126)+chr(3112)+chr(3149))

సుదర్శన్

In [ ]:
print(chr(3118)+chr(3148)+chr(3112)+chr(3149)+chr(3119))

మౌన్య

Assignment


1.   Sudarshan
2.   Mounya
3.   What is the purpose of complex numbers

**Data Types**

1.   Primitive data types:

     No need of declaration 

     Object oriented Language

     Dynamic

     **Numeric**

     *   int
     *   float
     *   Complex

     **Sequence**
     *   String
     *   List
     *   Tuple
     *   Dictionary
     *   Set

     **None**
    
     

2.   Pyhton is dymanic where java is static since we need to declare the variables.

In [ ]:
print(type(34))
print(type(6.45))
print(type(0+1j))
#if you use any other variable other than j it will throw an error
print(type(True))
print(type(False))
print(type('kusuma'))
print(type([1,'2']))
print(type((1,2,3)))
print(type({1:2}))
print(bool(1))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
True

In [ ]:
# valid variable names
_x=0
k1=0
uy=8
i0i=9

In [ ]:
# Invalid variable names
1x=0
8=0
+x=7

**Type Conversion:**

    Converting one data type to another data type

In [ ]:
# Type of conversion
print(int(3.124))

3

In [ ]:
#id=Memory location
print(id(56))

9794848

In [ ]:
# is it belogs to particular data type or not 
print(isinstance(45,int))
print(isinstance(25,float))
print(isinstance('k',int))
print(isinstance(90,complex))
print(isinstance(90+0j,complex))

True
False
False
False
True

**Operators Precedence and Assosicative law**

Every operator has its own priority we can use "BODMAS" rule
If there is same priority operators present in the expression evalution happens from left to right except one operator that is "Assignment Operator" which evaluates from right to left.

In [ ]:
a=9
#print("the value is :"+a)--> can only add strings or integers
print("the value is :" + str(a))
print("the value is :",a)

the value is :9
the value is : 9

In [ ]:
n=input("enter")
print(n)
print(type(n))

enter5
5
<class 'str'>

In [ ]:
n=int(input())
print(n)
print(type(n))

5
5
<class 'int'>

Take 3 integer numbers,3 float numbers,2 strings and one complex number as inputs and print the same on the screen
use formatted output

In [ ]:
n1=int(input("Enter first integer:"))
n2=int(input("Enter second integer:"))
n3=int(input("Enter third integer:"))
print()
f1=float(input("Enter first float number:"))
f2=float(input("Enter second float number:"))
f3=float(input("Enter third float number:"))
print()
s1=input("Enter first string:")
s2=input("Enter second string:")
print()
c=complex(input("Enter a complex number:"))
print()
print("Output:")
print('-------')
print()
print("First Integer is:",n1)
print("Second Integer is:",n2)
print("Third Integer is:",n3)
print()
print("First Float number is:",f1)
print("Second Float number is:",f2)
print("Third Float number is:",f3)
print()
print("First String is:",s1)
print("Second String is:",s2)
print()
print("Complex Number is",c)

Enter first integer:5
Enter second integer:10
Enter third integer:15

Enter first float number:2.34
Enter second float number:3.45
Enter third float number:4.56

Enter first string:kusuma
Enter second string:raseeda

Enter a complex number:2+3j

Output:
-------

First Integer is: 5
Second Integer is: 10
Third Integer is: 15

First Float number is: 2.34
Second Float number is: 3.45
Third Float number is: 4.56

First String is: kusuma
Second String is: raseeda

Complex Number is (2+3j)

Guido van Rosuum (inventor of python)

Name : BBC Comedy sereies

Question: Kumar is having 75 kg candy and half of it he gives to his friend sam, sam return half to kumar in its half .how much candy kumar has?

In [ ]:
kumar=int(input(" enter how much candy kumar buys"))
sam=kumar/2
kumar=kumar/2
t=sam/2
kumar=kumar+t
print(kumar)

 enter how much candy kumar buys75
56.25

Question: with 3 times of 36.32 you have to add 56.19 and subtract 10 from it print final result

In [ ]:
final=36.32
final=3*final
final=final+56.19
final=final-10
print("Final result=",final)

Final result= 155.15

Question: Multiply one postive number with one negitive folating point number and findout the result

In [ ]:
p=int(input("enter a positive number:"))
nf=float(input("Enter a float number"))
nf=-nf
print(p*nf)

enter a positive number:10
Enter a float number2.45
-24.5

Question: Do any simple division sample program using floating point numbers

In [ ]:
f1=float(input("Enter a floating numeration:"))
f2=float(input("Enter a floating denominator:"))
print(f1/f2)

Enter a floating numeration:12.3
Enter a floating denominator:2.3
5.347826086956522

**Operators:**
1.   Arithmetic Opereators
    *   Addition
    *   Subtraction
    *   Multiplication
    *   Division
    *   Floar division
2.   Relational Operators or Comparision Operator
    *  Less than
    *  Lesthan or equal to
    *  Greater than
    *  Greater than or equal to
    *  ==
    *  !=
3.   Logical Operator
    * and  
    * or 
    * not
4.   Bitwise Operatior

In [ ]:
#Arthimetic
print(4+5)
print(4-5)
print(4*5)
print(5/4)
print(5//4)
print(5%4)
#Relational
print(10!=2)
print(10==10)
print(10>4)
print(10<4)
print(10>=4)
print(10<=4)
#Logical 
print(10>1 and 3<10)
print(10>1 and 3>10)
print(10>1 or 3>10)
print(not(10==10))
print(not(10!=10))

9
-1
20
1.25
1
1
True
True
True
False
True
False
True
False
True
False
True

In [ ]:
a,b=input("enter").split()
print(a,b)

enter1 2
1 2

Multiple inputs in single line

In [ ]:
a,b=int(input("enter")),int(input("enter"))
a,b=input('enter').split()
a,b=input().split(',')
a,b=map(int,(input()).split('.'))

enter1
enter2
enter1 2
1,2
1.3

Qusetion: swap two numbers using temp

In [ ]:
n1,n2=map(int,input().split())
temp=n1
n1=n2
n2=temp
print(n1)
print(n2)

10 20
20
10

Question:Swap two numbers without using temp

In [ ]:
n1=int(input())
n2=int(input())
total=n1+n2
n1=total-n1
n2=total-n2
print(n1)
print(n2)
#or
#a,b=b,a

10
20
20
10

Question:Find area of rectangle after getting length and breadth of a rectangle2

In [ ]:
length=int(input())
breadth=int(input())
print("area of rectangle=",length*breadth)

10
20
area of rectangle= 200

Question: Find area of perimeter of a rectangle

In [ ]:
length=int(input())
breadth=int(input())
print("Perimeter of rectangle",2*(length+breadth))

10
20
Perimeter of rectangle 60